<template name="task">
  <li class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}}">
  {{#if isOwner}}
    <button class="delete">&times;</button>
    <!--  box is unchecked = false -->    
    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />

    <button class="toggle-private">
      {{#if private}}
        Make Public
      {{else}}
        Make Private
      {{/if}}
    </button>
  {{/if}}

  {{#if isLink}}
    <a href="{{text}}"> {{text}}</a>
    {{else}}
    <span class="text"><strong>{{username}}</strong> - {{text}}</span>
  {{/if}}  
  </li>
</template>

